
/*
https://www.w3schools.com/css/css_font.asp
https://www.cssfontstack.com/
https://fonts.google.com/specimen/Merriweather

<link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Montserrat|Roboto|Sacramento&display=swap" rel="stylesheet">
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: 'Merriweather', serif;
  list-style-position: inside;
  text-align: left;
}

h2{
  font-size: 1.8rem;
  font-family: Montserrat;
  line-height: 1.3;
}

.mytop{
padding-left: 30px;padding-right: 0px;padding-top: 30px;margin:10px auto 10px 0px ;width:90%;text-align: center;
}
.topimg{
margin:0 10px;padding-left: 10px;float:left;transform: rotate(0deg);position:relative;
}
@media (min-width:900px){
  .topimg{
    margin:0 10px;padding-left: 10px;float:left;transform: rotate(18deg);position:relative;
  .mytop{
    padding-left: 30px;padding-right: 0px;padding-top: 30px;margin:10px auto 10px 0px ;width:80%
    }
  }
}

#title{
  background-color: lightgreen;


}
#features{
  padding: 7% 15%
}

#xxx{
 margin: 0 0 0 0 ;
 font-size: 56px;
 text-align: center;
 color:#ef8172;
}
#xxx:hover{
 margin: 10px auto 10px auto ;
 font-size: 58px;
 text-align: center;
 color:#ff4c68;
}

#uuu{
  font-family: Montserrat;
  font-weight:bolder;
  font-size: 28px;
  color: black;
  text-align: center;
}
#sss{
  font-size: 18px;
  color: grey;
  text-align: center;

}

#testimonials{
  text-align: center;
  background-color:#ff4c68 ;
  color:#ffffff;
}

.carousel-item{
  padding: 7% 15%;

}

.tt-image{
  border-radius:18px;
  padding:10px 10px;
  width:30%;height=180px;
  margin:0 0"
}
#press{
  text-align: center;
  background-color:#ff4c68 ;
}

.presslogo{
  text-align: center;
  width:15%;height:15%;
  margin: 20px;
  padding-bottom: 20px;
}

#pricing{
  padding-top:   50px;
  text-align: center;
  background-color:lightblue ;
}

.pricingcard{
  padding-top:   30px;
  padding-bottom:     30px;
}

#cta{
  padding :   20px 20px;
  text-align: center;
  background-color:grey ;

}

#footer{
  text-align: center;
  background-color:lightblue ;
  padding: : 10px 10px;

}
.logofoot{
  color:blue;
}

.mycard{
  padding: 30px 0 30px 0;
  text-align: center;
}
.shadowhead{
line-height: 2;
  background-color: grey;
}
.mydeck{
  width:100%;
  height: 100%;
  background-color: white;
  margin: 0 0 0 0;
  padding: 30px 30px;
  text-align: center;

}
