
/*
https://www.w3schools.com/css/css_font.asp
https://www.cssfontstack.com/
https://fonts.google.com/specimen/Merriweather

<link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Montserrat|Roboto|Sacramento&display=swap" rel="stylesheet">
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: 'Merriweather', serif;

  background-color: lightgreen;

  list-style-position: inside;
  text-align: left;
}
